<?xml version="1.0" encoding="utf-8" ?>
<configuration>



    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ZappyChromeNativeConsole.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.serviceModel>
    <bindings>
      <netNamedPipeBinding>
        <binding name="NetNamedPipeBinding_IPubSubService" maxBufferPoolSize="2147483647"
          maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647" />
        </binding>
      </netNamedPipeBinding>
      <!--<netTcpBinding>
        <binding name="NetTcpBinding_IPubSubService" maxBufferPoolSize="2147483647"
          maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647" />
        </binding>
      </netTcpBinding>-->
    </bindings>
    <client>
      <!--<endpoint address="net.tcp://localhost/PubSubServiceTcp" binding="netTcpBinding"
          bindingConfiguration="NetTcpBinding_IPubSubService" contract="PubSubProxy.IPubSubService"
          name="NetTcpBinding_IPubSubService">

      </endpoint>-->
      <!--<endpoint address="net.pipe://localhost/ZappyPubSubServicePipe" binding="netNamedPipeBinding"
          bindingConfiguration="NetNamedPipeBinding_IPubSubService"
          contract="ZappyMessages.PubSub.IPubSubService" name="NetNamedPipeBinding_IPubSubService">

      </endpoint>-->
    </client>
  </system.serviceModel>
  
    <userSettings>
        <ZappyChromeNativeConsole.Properties.Settings>
            <setting name="SendXPATHTargets" serializeAs="String">
                <value>sapbydesign.com;</value>
            </setting>
            <setting name="RetryStrategies" serializeAs="String">
                <value>sapbydesign.com|self^click2doubleclickoropen;</value>
            </setting>
            <setting name="InsertPauseOnUrlChange" serializeAs="String">
                <value>sapbydesign.com;</value>
            </setting>
            <setting name="RemoveSubmitCommand" serializeAs="String">
                <value>sapbydesign.com;</value>
            </setting>
        </ZappyChromeNativeConsole.Properties.Settings>
    </userSettings>
</configuration>