<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Zappy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <log4net>
    <appender name="DefAppender" type="log4net.Appender.RollingFileAppender">
      <file value="${BaseFolder}\Logs\Zappy.log" />
      <encoding value="utf-8" />
      <appendToFile value="false" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="5MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level [%thread] %type.%method - %message%n" />
      </layout>
    </appender>
    <logger name="Zappy">
      <level value="ERROR" />
      <appender-ref ref="DefAppender" />
    </logger>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="AWSRegion" value="us-east-1" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <userSettings>
    <Zappy.Properties.Settings>
      <setting name="SavedTask_FolderPath" serializeAs="String">
        <value>ZappyTasks\</value>
      </setting>
      <setting name="AppUpdateUrl" serializeAs="String">
        <value />
      </setting>
      <setting name="ShowRecordedStepNotification" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ConnectToHub" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ML_FolderPath" serializeAs="String">
        <value />
      </setting>
    </Zappy.Properties.Settings>
  </userSettings>
  <system.serviceModel>
    <!--
    
    <diagnostics>
        <messageLogging
              logEntireMessage="true"
              logMalformedMessages="true"
              logMessagesAtServiceLevel="true"
              logMessagesAtTransportLevel="true"
              maxMessagesToLog="3000"       />
      </diagnostics>
      
      -->
    <client />
    <services>
      <service behaviorConfiguration="behavior_IPubSubService" name="ZappyMessages.PubSub.PubSubService">
        <!--<endpoint address="net.tcp://localhost/ZappyPubSubServiceTcp"
                  binding="netTcpBinding"
                  bindingConfiguration="NetTcpBinding_IPubSubService"
                  contract="Crapy.PubSubHub.IPubSubService"/>-->
        <!--<endpoint address="net.pipe://localhost/ZappyPubSubServicePipe" binding="netNamedPipeBinding" bindingConfiguration="NetPipeBinding_IPubSubService" contract="ZappyMessages.PubSub.IPubSubService" />-->
      </service>
    </services>
    <bindings>
      <netNamedPipeBinding>
        <binding name="NetPipeBinding_IPubSubService" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647" />
        </binding>
      </netNamedPipeBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_IPubSubService" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647" />
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <!--<behavior name="forProxyGenerationOnly">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>-->
        <behavior name="behavior_IPubSubService">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          <!--<serviceDebug includeExceptionDetailInFaults="true"/>-->
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>