<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netNamedPipeBinding>
        <binding name="NetNamedPipeBinding_IPubSubService" maxBufferPoolSize="2147483647"
                 maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647" />
        </binding>
      </netNamedPipeBinding>
      <!--<netTcpBinding>
        <binding name="NetTcpBinding_IPubSubService" maxBufferPoolSize="2147483647"
          maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647" />
        </binding>
      </netTcpBinding>-->
    </bindings>
    <client>
      <!--<endpoint address="net.tcp://localhost/PubSubServiceTcp" binding="netTcpBinding"
          bindingConfiguration="NetTcpBinding_IPubSubService" contract="PubSubProxy.IPubSubService"
          name="NetTcpBinding_IPubSubService">

      </endpoint>-->
      <!--<endpoint address="net.pipe://localhost/ZappyPubSubServicePipe" binding="netNamedPipeBinding"
                bindingConfiguration="NetNamedPipeBinding_IPubSubService"
                contract="ZappyMessages.PubSub.IPubSubService" name="NetNamedPipeBinding_IPubSubService">

      </endpoint>-->
    </client>
  </system.serviceModel>
</configuration>